
html {
  font-size: 16px; 
}

h1 {
  font-size: 32px; 
  color: #2c3e50;
}
.container p {
  font-size: 1.5em; 
  background-color: rgb(220, 220, 250);
}

.rem-box {
  font-size: 2rem; 
  color: rgba(255, 0, 0, 0.7); 
}

.percent-box {
  width: 50%; 
  background-color: #f0f0f0;
  padding: 20px;
}
