body{
    margin-top: 20px;
    background-color: #3d0505b2;
    align-items: center;
    
}
.card-1{
    background-color: #000;
    display: flex;
    align-items: center;
    gap: 53px;
    padding: 40px;
    border-radius: 32px;
    max-width: 1220px;
    margin-bottom: 40px;
}
.image-1{
    width: 389px;
    height: 432px;
}
.card-block-1{
}
.badge-1{
    background: #191919;
    color: #ffffff;
    font-size: 17px;
    padding: 0 16px;
    border-radius: 6px;
    width: fit-content;
    line-height: 27px;
    margin-bottom: 48px;
}
.episode-1{
    color: #118DA8;
    font-size: 17px;
    margin-bottom: 18px;
}
.title-1{
    font-size: 64px;
    line-height: 70.4px;
    color: #fff;
    margin-bottom: 28px;
    letter-spacing: 2.56px;
    max-width: 676px;
}
.subtitle-1{
    color: #FFFFFFB2;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 42px;
    max-width: 773px;
}
.button-1 {
    background-color: #118DA8;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
}
.all-card{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}
.card-2{
    padding: 20px;
    background: #E1EDE6;
    width: 350px;
    height: 730px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 10px;
}
.image-2{
    width: 310px;
    height: 422px;
    margin-bottom: 20px;
}
.card-block-2 {
    display: flex;
    flex-direction: column;
}
.author-2{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #86928B;
    margin-bottom: 10px;

}
.title-2{
    font-size: 30px;
    line-height: 100%;
    color: #2C2D35;
    margin-bottom: 8px;
    letter-spacing: 2.56px;
}
.materials-2{
    color: #2C2D35;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 30px;
}
.price-2{
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #598D66;
    margin-bottom: 20px;
}
.button-2{
    width: 310px;
    height: 65px;
    border: 1px solid #598D66;
    color: #598D66;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;

}
.button-2:hover {
    background: #598D66;
    color: #fff;
}   
.card-3 {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 10px;
    width: 360px;
    height: 610px;
    overflow: hidden;
}

.title-container-3 {
    width: 360px;
    height: 86px;
    padding: 16px;
    box-sizing: border-box; 
}

.title-3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2; 
    letter-spacing: 0.012em;
    color: #009AF0;
}

.text-container-3 {
    width: 360px; 
    height: 126px; 
    padding: 0 16px 16px 16px;
    box-sizing: border-box;
}

.text-3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.012em;
    color: #202842;
}

.box-3 {
    display: flex;
    align-items: center;
    width: 360px;
    height: 70px;
    padding: 16px;
    box-sizing: border-box;
    margin-top: auto; 
    border-top: #0000001a 1px solid; 
}

.author-group-3 {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1; 
}

.avatar-1 {
    border-radius: 50%;
    object-fit: cover;
    width: 38px; 
    height: 38px; 
}

.author-info-3 {
    display: flex;
    flex-direction: column;
}

.name-3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: #202842;
}

.date-3 {
    font-size: 12px;
    line-height: 1.2;
    color: #888;
}

.read-now-btn {
    background-color: #009AF0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;
}
.read-now-btn:hover {
    background-color: #1c4152;
}
.card-4 {
    width: 380px;
    height: 582px;
    background: #ffffff;
    box-shadow: 2px 8px 16px 0px #C2C6D00F;
    display: flex;
    flex-direction: column;
    opacity: 1;
    overflow: hidden; 
    border-radius: 10px;
}

.image-4 {
    width: 380px;
    height: 245px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.text-zone-4 {
    width: 380px;
    height: 337px;
    padding: 50px 44px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid #F2F6FA;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-sizing: border-box; 
}

.info-group-4 {
    width: 247px;
    height: 95px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title-4 {
    width: 247px;
    height: 35px;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    color: #2E363E;
    margin: 0;
}

.text-4 {
    width: 240px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2E363E;
    margin: 0;
}

.price-container-4 {
    width: 163px;
    height: 118px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.price-4 {
    width: 108px;
    height: 36px;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #434B53;
}

.button-4 {
    width: 163px;
    height: 68px;
    padding: 20px 40px;
    background-color: #FED84C;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    color: #2E363E;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
}
.card-5{
    background-color: #000;
    display: flex;
    align-items: center;
    gap: 53px;
    padding: 40px;
    border-radius: 32px;
    max-width: 1300px;
    margin-bottom: 40px;
}
.image-5{
    width: 389px;
    height: 465px;
}
.card-block-5{
}
.badge-5{
    background: #191919;
    color: #ffffff;
    font-size: 18px;
    padding: 0 16px;
    border-radius: 6px;
    width: fit-content;
    line-height: 27px;
    margin-bottom: 48px;
}
.episode-5{
    color: #118DA8;
    font-size: 17px;
    margin-bottom: 18px;
    line-height: 27px;
}
.title-5{
    font-size: 64px;
    line-height: 70.4px;
    color: #fff;
    margin-bottom: 28px;
    letter-spacing: 2.56px;
    max-width: 676px;
    font-family: Arial, Helvetica, sans-serif;

}
.subtitle-5{
    color: #FFFFFFB2;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 19px;
    max-width: 773px;
    font-family: 'Courier New', Courier, monospace;
}
.button-5 {
    background-color: #118DA8;
    color: #fff;
    border: none;
    letter-spacing: 1.5px;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.button-5:hover {
    background-color: #01547a;
}

.all-card-2{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.card-6{
    padding: 20px;
    background: #E1EDE6;
    width: 290px;
    height: 514px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 10px;
}
.image-6{
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}
.card-block-6 {
    display: flex;
    flex-direction: column;
}
.author-6{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #86928B;
    margin-bottom: 10px;

}
.title-6{
    font-size: 30px;
    line-height: 100%;
    color: #2C2D35;
    letter-spacing: 0%;
    margin-bottom: 10px;
}
.materials-6{
    color: #2C2D35;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 30px;
}
.price-6{
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #598D66;
    margin-bottom: 20px;
}
.button-6{
    width: 250px;
    height: 50px;
    border: 1px solid #598D66;
    color: #598D66;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;

}
.button-6:hover {
    background: #598D66;
    color: #fff;
}   
.card-7 {
    width: 380px;
    height: 582px;
    background: #ffffff;
    box-shadow: 2px 8px 16px 0px #C2C6D00F;
    display: flex;
    flex-direction: column;
    opacity: 1;
    overflow: hidden; 
    border-radius: 10px;
}

.image-7 {
    width: 380px;
    height: 245px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.text-zone-7 {
    width: 380px;
    height: 337px;
    padding: 50px 44px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid #F2F6FA;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-sizing: border-box; 
}

.info-group-7 {
    width: 247px;
    height: 95px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title-7 {
    width: 247px;
    height: 35px;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    color: #2E363E;
    margin: 0;
}

.text-7 {
    width: 240px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2E363E;
    margin: 0;
}

.price-container-7 {
    width: 163px;
    height: 118px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.price-7 {
    width: 108px;
    height: 36px;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #434B53;
}

.button-7 {
    width: 163px;
    height: 68px;
    padding: 20px 40px;
    background-color: #FED84C;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    color: #2E363E;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
}
.card-8 {
    width: 330px;
    height: 400px;
    background-color: #2d3951;
    border-radius: 20px;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #FFFFFF;
}

.header-8 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.avatar-8 {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}

.menu-icon-8 {
    width: 24px; 
    height: auto;
    cursor: pointer;
    opacity: 0.5; 
}

.about-me-8 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.name-job-8 {
    font-size: 16px;
    color: #94A3B8;
    margin-bottom: 20px;
}

.info-8 {
    font-size: 14px;
    line-height: 1.6;
    color: #94A3B8;
    margin: 0;
}