*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: #fff;
    background-color: #141414;
}


header {
    padding: 40px 50px 10px 50px;
    background-color: #141414;
}


nav{
    display: flex;
     align-items: center;
    justify-content: space-between;
}


.logo img {
width: 160;
height: 33;
top: 17px;
left: 50px;
}


.menu {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
}

.menu a:hover {
    color:#118DA8;
}


.hero {
    display: flex;
    justify-content: space-between;
    padding: 50px;
} 


.image {
    width: 650;
    height: 873.44;
}


.content {
    max-width: 500px;
}
.content h2 {
    font-size: 70px;
    font-weight: 400;
    color : #fff;
    line-height: 88px;
    margin-top: 300px;
}


.content h2 span {
    font-size: 75px;
    font-weight: 400;
}


.content p {
    font-size: 15px;
    font-weight: 400;
}

.platform {
    margin-top: 20px;
}

.icons {
   width: 32px;
   height: 32px;
}