img {
    display: block;
    margin: 10px 0;
}
p {
    display: inline;
    color: darkblue;
}
.container {
    display: block;
    border: 2px solid black;
    padding: 15px;
    margin-top: 20px;
}
.container p,
.container img,
.container a {
    display: block;
    margin: 10px 0;
}
